In [4]:
# 프로그래머스 - 옷가게 할인 받기
# 10만 원 이상 사면 5%, 30만 원 이상 사면 10%, 50만 원 이상 사면 20%를 할인

def solution(price):
    if price>=500000:
        return int(price*0.8)

    elif price>=300000:
        return int(price*0.9)

    elif price>=100000:
        return int(price*0.95)
    else:
        return int(price)
print(solution(580000))

464000.0

In [7]:
# 프로그래머스 - 아이스 아메리카노
# 아이스 아메리카노는 한잔에 5,500원입니다. 머쓱이가 가지고 있는 돈 money가 매개변수로 주어질 때, 머쓱이가 최대로 마실 수 있는 아메리카노의 잔 수와 남는 돈을 순서대로 담은 배열을 return 


def solution(money):
  n = money//5500
  m = money%5500
  return [n,m]


print(solution(15000))

[2, 4000]

In [15]:
# 프로그래머스 - 나이 출력
# 나이 age가 주어질 때, 2022년을 기준 출생 연도를 return 

def solution(age):
  return abs(age - 2022-1)

print(solution(40))

1983

In [18]:
# 프로그래머스 - 배열 뒤집기
def solution(num_list):
    return list(reversed(num_list))
print(solution([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [22]:
# 프로그래머스 - 문자열 뒤집기
def solution(my_string):
    return my_string[::-1]

print(solution("bread"))

daerb

In [31]:
# 프로그래머스 - 직각삼각형 출력하기
n = int(input())
for i in range(1, n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

3
*
**
***

In [33]:
#프로그래머스 - 짝수 홀수 갯수
def solution(num_list):
  cnt1 = 0
  cnt2 = 0
  for i in num_list:
    if i % 2 ==0:
      cnt1+=1
    else:
      cnt2+=1
  return [cnt1, cnt2]

print(solution([1,2,3,4,5]))

[2, 3]

In [37]:
#프로그래머스 - 문자 반복 출력하기

def solution(my_string, n):
  ans = ""
  for i in my_string:
    for j in range(n):
      ans+=i

  return ans
print(solution("hello",3))

hhheeellllllooo

In [ ]:
#프로그래머스 sql - 과일로 만든 아이스크림
SELECT FH.FLAVOR from FIRST_HALF FH 
Left OUTER JOIN ICECREAM_INFO II ON FH.FLAVOR = II.FLAVOR
WHERE FH.TOTAL_ORDER>3000 and II.INGREDIENT_TYPE = "fruit_based"
ORDER BY FH.TOTAL_ORDER DESC

In [ ]:
#프로그래머스 sql - 12세 이하인 여자 환자 목록 출력하기

select  pt_name, pt_no, gend_cd, age, ifnull(tlno, 'NONE') as tlno
from patient
where age <= 12 and gend_cd = 'W'
order by age desc, PT_NAME ASC;

In [ ]:
#프로그래머스 sql - 흉부외과 또는 일반외과 의사 목록 출력하기

SELECT DR_NAME, DR_ID, MCDP_CD, DATE_FORMAT(HIRE_YMD,"%Y-%m-%d") as HIRE_YMD
FROM DOCTOR
WHERE MCDP_CD in ("CS","GS")
ORDER by HIRE_YMD DESC, DR_NAME ASC

In [ ]:
#프로그래머스 sql - 3월에 태어난 여성 회원 목록 출력하기

SELECT MEMBER_ID, MEMBER_NAME, GENDER, DATE_FORMAT(DATE_OF_BIRTH,"%Y-%m-%d") as DATE_OF_BIRTH
FROM MEMBER_PROFILE
WHERE GENDER = "W" 
    and DATE_FORMAT(DATE_OF_BIRTH,"%m") = 03
    and TLNO is not NULL
ORDER BY MEMBER_ID

In [ ]:
#프로그래머스 sql - 재구매가 일어난 상품과 회원 리스트 구하기

SELECT USER_ID, PRODUCT_ID FROM ONLINE_SALE
GROUP BY USER_ID, PRODUCT_ID
HAVING count(*)>=2
ORDER BY USER_ID, PRODUCT_ID DESC

In [ ]:
#프로그래머스 sql - 인기있는 아이스크림

SELECT FLAVOR FROM FIRST_HALF
ORDER BY TOTAL_ORDER DESC, SHIPMENT_ID

In [ ]:
#프로그래머스 sql - 조건에 맞는 회원수 구하기

SELECT count(USER_ID) as USERS FROM USER_INFO
WHERE DATE_FORMAT(JOINED, "%y") = 21 
    and AGE >= 20 and AGE <= 29

In [ ]:
#프로그래머스 sql - 상위 n개 레코드

SELECT NAME FROM ANIMAL_INS
ORDER BY DATETIME
LIMIT 1

In [ ]:
#프로그래머스 sql - 모든 레코드 조회하기

SELECT * FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
#프로그래머스 sql - 여러 기준으로 정렬하기

SELECT ANIMAL_ID, NAME, DATETIME FROM ANIMAL_INS
ORDER BY NAME, DATETIME DESC

In [ ]:
#프로그래머스 sql - 동물 아이디와 이름

SELECT ANIMAL_ID, NAME
FROM ANIMAL_INS
ORDER BY ANIMAL_ID

In [ ]:
#프로그래머스 sql - 어린 동물 찾기

SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE INTAKE_CONDITION not in ("Aged")
ORDER BY ANIMAL_ID

In [ ]:
#프로그래머스 sql - 아픈 동물 찾기

SELECT ANIMAL_ID, NAME FROM ANIMAL_INS
WHERE INTAKE_CONDITION in ("Sick")
ORDER BY ANIMAL_ID